Requirements 2:

1. Create unit tests for all previous requirements.
For all reqs going forward use these tests and add to them, where possible.
2. Enable filtered log sending (send logs to different places, depending on filter).
3. Enable logging to the event log
4. Use logger in a web project
